@charset "utf-8";

/* --------------------------------------------
ページ全体の設定
-------------------------------------------- */

 html *,
 ::before,
 ::after {
   box-sizing: border-box;
 }

 html {
   font-size: 100%;
   height: 100%;
 }

 body {
   font-family: YakuHanJP, "Noto Sans JP","Yu Gothic","YuGothic","Hiragino Kaku Gothic ProN","Meiryo",'Montserrat', sans-serif;
   background-color: #3E3A39;
   color: #ffffff;
   letter-spacing: .06em;
   height: 100%;
 }
  
 p {
   font-weight: 300;
   letter-spacing: 0.1rem;
   margin: 0;
 }

 a { /*下線を消す（下線なしにする）*/
  text-decoration: none;

 }

 ul {
   padding: 0;
 }

 li {
   list-style: none;
   padding: 0;
 }

 /* レスポンシブイメージと画像下スペース防止 */
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;/* 画像下のスペースを消す */
}

/*--------------------------------------------
ボタン 
--------------------------------------------*/

.btn {
  /* 矢印を起点とするためrelativeを指定 */
  position: relative;
  /* ボタンの形状 */
  background: #f5f262;
  padding: 12px 50px 12px 18px;
  display: inline-block;
  text-align: center;
  transition: all .2s linear;
  color: #000000;
  text-decoration: none;
  border: transparent 1px solid;
  border-radius: 30px;
  outline: none;
  font-size: 0.875rem;
  font-weight: 500;
  /* ボタン上のアキ */
  margin-top: 20px;
}

/* hover時のボタンの色 */
.btn:hover {
  background: #ffffff;
  border-color: #000000;
}

/* 矢印と線の形状 */
.btn::before {
  content: "";
  /* 絶対配置で線の位置を決める */
  position: absolute;
  top: 50%;
  right: 20px;
  /* 線の形状 */
  width: 24px;
  height: 1px;
  background: #000000;
}

.btn::after {
  content: '';
  /* 絶対配置で矢印の位置を決める */
  position: absolute;
  top: 38.6%;
  right: 12px;
  /* 矢印の形状 */
  border: 6px solid transparent;
  border-top-width: 6px;
  border-bottom-width: 6px;
  border-left-color: #000000;
  /* アニメーションの指定 */
  transition: all .2s linear;
}

/* hover時の矢印の形状 */
.btn:hover::before {
  background: #000000;
  right: 27px;
}
.btn:hover::after {
  border-left-color: #000000;
  right: 20px;
}


/* レスポンシブ ------------ */

@media (min-width: 520px) {

  .btn {
    padding: 15px 60px 15px 30px; /* 余白＋ */

    font-size: 1rem; /* 16pxに */
  }

}



/*--------------------------------------------
共通　ヘッダー
--------------------------------------------*/

/*スクロール時追従
背景色透*/
.page-header {
  position: fixed;
  background-color: rgb(62, 58, 57, 0.8);
  height: 70px;
  width: 100%;
  z-index:100;
}

/* ヘッダーコンテナ ------------------------*/
@media (min-width: 768px) {
  .header-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
  }
}

/* ロゴとspナビボタン ------------------------*/
.sitetitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%; /* 追加 */
}
@media (min-width: 768px) {
  .sitetitle {
    display: block;
    padding: 15px 0 0 0;
  }
}

/* ヘッダーロゴ ------------------------*/
.header-logo {
  margin: 0;
  padding-left: 15px;
  font-size: 0;
  line-height: 0;
}
.header-logo img {
  width: 150px;
}
@media (min-width: 768px) {
  .header-logo {
    padding: 0;
  }
  .header-logo img {
    width: 180px;
  }
}
/* sp向けボタン ------------------------*/
.navbtn {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../img/nav-sp-open.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.navbtn.close {
  background-image: url(../img/nav-sp-close.svg);
}
@media (min-width: 768px) {
  .navbtn {
    display: none;
  }
}
/* ヘッダーナビゲーション ------------------------*/
.header-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 60px 0 0 0;
  list-style: none;
}
@media (min-width: 768px) {
  .header-nav {
    padding: 0;
  }
}

.header-nav.collapse {
  display: none;
}
.header-nav li a {
  display: block;
  padding: 20px 0px  20px 50px;
  background: rgba(255,255,255,0.9);
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.2rem;
}
.header-nav li a:hover {
  background: #e7e7c5;
}
@media (min-width: 768px) {
  /* PC向けレイアウト */
  .header-nav {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    top: 30px;
    right: 30px;
  }
  .header-nav li a {
    padding: 0px 16px 0px 16px;
    background: none;
    font-size: 12px;
    color: #ffffff;
  }
  .header-nav li a:hover {
    color: #CCC500;
    background: none;
  }
}



/*--------------------------------------------
各ページ上部　共通　テーマ部分 
--------------------------------------------*/

/*文字指定*/
.thema-title-en {
  font-family: 'Montserrat';
  font-size: 2rem;  /* 32px */
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin: 0;
}

.thema-title-ja {
  font-size: 1rem; /* 16px */
  font-weight: 400;
  letter-spacing: 0;
  margin: 8px 0 0 0;
}

.text-lead {
  line-height: 2;
  font-weight: 300;
  margin: 40px 0 0 0; /* リード上アキ */
  text-align: justify;
}

/* 白マド */
.thema {
  color: #000000;
  background-color: #ffffff;
  padding: 28px;
  border-radius: 40px;
}

.thema-link img {
  width: 100%;    
  margin: 32px auto 0; /* 地図上アキ */
}

/* レスポンシブ ------------ */

@media (min-width: 520px) {

  .thema {
    padding: 50px;
  }

  .thema-title-en {
    font-size: 3rem; /* 48px */
  }
  
  .thema-title-ja {
    font-size: 1.125rem; /* 18px */
    letter-spacing: 0.4rem; /* 字間アケル */
  }

  .thema-link img {
    width: 400px;
    margin: 50px auto 0;
  }
}

@media (min-width: 960px) {

  .thema-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .thema-text {
    width: 50%;
    margin-right: 4rem; /* 本文右4字アキ */
  }

  .thema-link {
    width: 50%;
  }

  .thema-link img {
  width: 90%;
  margin-top: 0px; /* 地図上アキ０に */
  }

}



/*--------------------------------------------
共通　h3見出し
--------------------------------------------*/
h3 {
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  letter-spacing: 0.3rem;
  position: relative;
  line-height: 1.4;
  padding: 20px 32px;
  display: inline-block;
  margin: 100px 0 0 0;
}

/* 文字飾り */
h3:before, h3:after { 
  content:'';
  width: 40px;
  height: 60px;
  position: absolute;
  display: inline-block;
}

h3:before {
  border-left: solid 2px #CCC500;
  border-top: solid 2px #CCC500;
  top: 0;
  left: 0;
}

h3:after {
  border-right: solid 2px #CCC500;
  border-bottom: solid 2px #CCC500;
  bottom: 0;
  right: 0;
}

/* h3見出し下に注が入る場合 */
.h3-annotation {
  font-size: 0.875rem; /* 14px */
  margin-top: 20px;
  margin-bottom: 50px;
}
/* h3見出し中の強調数字 */
h3 span.h3-no {
  font-family: 'Lobster';
  font-size: 2rem;
  align-items: center;
  color: #CCC500;
}

/* h3見出しの改行指　消す */
.h3-br {
  display: block;
}


/*--------------------------------------------
index　＞　メインビジュアル
--------------------------------------------*/

/* 背景イラスト */
.bg-illust {
  position: relative;
  min-height: 100vh;
  background: url(../img/mainvisual_sp.svg)
    center / cover;
  background-repeat: no-repeat;
}

/* imgタイトル */
.mainvisual-title img {
  width: 150px;  
  position: absolute;
  top: 68px;
  left: 53%;
  z-index: 90;
}


/* レスポンシブ -------------------*/

@media (min-width: 520px) {
  
  .mainvisual-container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }

  /* 背景イラスト */
  .bg-illust {
    position: relative;
    min-height: 100vh;
    background: url(../img/mainvisual_v3.svg)
      center / cover;
    background-repeat: no-repeat;
  }

  /* imgタイトル */
  .mainvisual-title img {
    width: 180px;  
    position: absolute;
    top: 70px;
    left: 65%;
    z-index: 90;
  }

  /* 花火画像のアニメーション指定 */
  .hanabi1-fadein {
    width: 200px;
    height: 200px;
    background: url(../img/animation_hanabi1.png) no-repeat;
    animation: fadeIn 4s infinite;
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
  }

  .hanabi2-fadein {
    width: 150px;
    height: 150px;
    background: url(../img/animation_hanabi2.png) no-repeat;
    animation: fadeIn2 3s infinite;
    position: absolute;
    top: 45%;
    left: 55%;
  }
  @keyframes fadeIn2 {
    0% {opacity: 0;}
    70% {opacity: 0.5;}
    100% {opacity: 1;}
  }

}/*ここまで　@media (min-width: 520px)*/



@media (min-width: 768px) {

  /* imgタイトル */
  .mainvisual-title img {
    width: 200px;  
    position: absolute;
    top: 75%;
    left: 72%;
    z-index: 90;
  }
}



/*--------------------------------------------
共通　メイン
--------------------------------------------*/

/* メインコンテナ */
.post .main-container {
  padding: 100px 5% 70px 5%;
}
.main-container {
  text-align: center;
}

@media (min-width: 520px) {
  .post .main-container {
    max-width: 1040px;
    margin: 0 auto;
    padding: 100px 20px 80px 20px;
  }
}

/*--------------------------------------------
index　＞　area　有料エリアについて
--------------------------------------------*/

.area {
  text-align: center;
}

.area-title {
  font-size: 1.125rem;
  font-weight: 300;
  margin: 100px 0 40px;
}

ul.area-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.area-list li {
  width: 295px;
  height: auto;
  margin: 0 auto 28px;
  padding: 0 5px 0;
}

.area-no {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 700;
  color: #CCC500;
}

.area-name {
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-top: 4px;
  margin-bottom: 16px;
}

.area-price {
  padding: 30px 40px 60px 40px;
  border-radius: 50%;
  border: 2px dotted #CCC500;
}

.area-price span {
  font-size: 1.75rem;
}

.area-price .child {
  font-size: 0.875rem;
  margin: 4px 0 16px;
}

.area-price .text {
  font-size: 0.875rem;
  line-height: 1.8;
}

.area-list a {
  margin-top: 24px;
  display: inline-block;
}

/*--------------------------------------------
index　＞　point　注意事項
--------------------------------------------*/
.point {
  text-align: justify;
  border: solid 1px;
  border-radius: 15px;
  padding: 15px;
  margin-top: 80px;
}

.point a {
  color: #CCC500;
  font-weight: 500;
  border-bottom: 2px dotted;
  padding-bottom: 2px;
}

.point ul {
  padding-left: 1rem;
}

.point li {
  list-style-type: square;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 8px;
}


/*--------------------------------------------
access　＞　時刻表と運賃　周辺MAP
--------------------------------------------*/

.timetable ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.timetable ul li {
  width: 100%;
  margin: 0 auto 48px;
  font-size: 0.75rem;
  text-align: left;
}

.timetable ul li .ship {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 500;

}

.timetable ul li .time {
  border-bottom: 1px dotted #ada1a1;
  padding: 10px 0; /*ケイ上下のアキ*/
}

.timetable ul li .time:last-child {
  border-bottom: none;
} 

.timetable ul li .time span { /*時刻のみ*/
  font-size: 20px;
}


/* グーグルマップ部分 */
.kasaoka-area {
  width: 100%;
}

.kasaoka-area p {
  font-weight: 500;
  color: #CCC500;
  margin-bottom: 40px;
}

/* グーグルマップのサイズを設定 */
.kasaoka-map iframe{
  width: 100%;
}


/* レスポンシブ ------------ */

@media (min-width: 520px) {
  .timetable ul li {
    width: 350px;
    font-size: 0.875rem;
  }

  .timetable ul li .time span { /*時刻のみ*/
    font-size: 24px;
  }
}

@media (min-width: 960px) {
  .timetable ul li {
    width: 40%;
  }
}

/*--------------------------------------------
crusing　＞　スケジュール・ツアー料金
--------------------------------------------*/

/* スケジュール ----- */

.schedule {
  width: 100%;
  position: relative;
  text-align: left;
}

.icon-ph1 {
  width: 288px;
  position: absolute;
  top: -30px;
  left: 0px;
}
.icon-ph2 {
  width: 160px;
  position: absolute; /* レスポンシブで変更する */
  top: -30px;
  left: 120px;
  transform: rotate( 0deg );
}
.icon-ph3 {
  width: 260px;
  position: absolute;
  top: -30px;
  left: 0px;
}
.icon-ph4 { /* スマホ非表示 */
  display: none;
}

.schedule .time {
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 180px; /* レスポンシブで変更する */
  margin-bottom: 12px;
}

.schedule .time-last { /* レスポンシブで変更する */
  margin-top: 50px;
}

.schedule .subhead {
  font-weight: 300;
  margin-bottom: 16px;
  color: #000000;
  padding: 12px 16px;
  background-color: #ffffff;
  display: inline-block;
  border-radius: 20px;
}

.schedule .text {
  line-height: 1.8;
}

/* 色指定(ケイ・文字) --*/
.line-yellow {
  margin-top: 100px;
  border-top: 1px solid #CCC500;
}
.color-yellow {
  color: #CCC500;
}
.line-pink {
  margin-top: 100px;
  border-top: 1px solid #d468d4;
}
.color-pink {
  color: #d468d4;
}
.line-blue {
  margin-top: 100px;
  border-top: 1px solid #74d3f7;
}
.color-blue {
  color: #74d3f7;
}

/* レスポンシブ ------------ */

@media (min-width: 520px) {

  .schedule {
    max-width: 560px;
    margin: 0 auto;
  }

  .icon-ph4 { 
    display: block; /* 表示 */
    width: 190px;
    position: absolute; /* レスポンシブで変更する */
    top: 20px;
    left: 270px;
  }
}

@media (min-width: 960px) {

  .schedule {
    max-width: 960px;
    margin: 0 auto;
  }

  .schedule .time {
    margin-top: 30px;
  }

  .schedule .time,
  .schedule .subhead,
  .schedule .text {
    margin-left: 350px; /*左アキ*/
  }

  .icon-ph2 {
    width: 160px;
    position: absolute; /* レスポンシブで変更する */
    top: -60px;
    left: 100px;
    transform: rotate( -15deg );
  }
  .icon-ph3 {
    width: 330px;
    position: absolute;
    top: -45px;
    left: 0px;
  }
  .icon-ph4 {
    width: 170px;
    position: absolute; /* レスポンシブで変更する */
    top: 215px;
    left: 160px;
  }

  .schedule .time-last { /* レスポンシブで変更する */
    margin-top: 80px;
  }

}

/* クルージング料金 ---------- */
.crusing-price {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.crusing-price-frame {
  margin: 0;
  width: 300px; /* レスポンシブで変更する*/
  font-size: 1.25rem;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  margin-bottom: 20px;/* レスポンシブで変更する*/
  position:relative;
}
.crusing-price-frame::after {
content: "";
position:absolute;
top:0;
right:0;
width:0;
height:0;
border-style: solid;
border-color: transparent #3E3A39 #cccccc transparent;
border-width: 0 24px 24px 0;
}

.crusing-price-frame p {
  font-size: 1rem;
}

.crusing-price-frame span {
  font-size: 1.75rem;
  font-weight: 300;
}

/* レスポンシブ ------------*/

@media (min-width: 960px) {

  .crusing-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .crusing-price-frame {
    width: 30%;
    margin-bottom: 0px;
  }

  .crusing-price li {
    margin-right: 24px;
  }

  .crusing-price li:last-child {
    margin-right: 0;
  }

  /*h3見出し改行解除*/
  .h3-br {
    display: none;
  }

}

/*--------------------------------------------
ticket ＞ 購入方法
--------------------------------------------*/

/* ロッピー部分 */
.thema-ticket-info { 
  width: 100%;    
  margin: 0 auto;
}
.text-lead-info {
  line-height: 1.7;
  margin-top: 24px; /*リード上アキ　レスポンシブ変更*/
  text-align: justify;
}

.thema-ticket-info .l-code {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  border-top:1px dotted #000000;
  border-bottom:1px dotted #000000;
}

.thema-ticket-info .l-code dd {
  margin: 0;
  width: 100%;
  font-weight: 200;
  background-color: #807c7b;
  color: #ffffff;
  display: inline-block;
  padding: 10px;
}
.thema-ticket-info .l-code dt {
  width: 100%;
  font-weight: 300;
  padding: 10px;
}

.thema-ticket-info .chuushi {
  font-size: 0.875rem;
  text-align: left;
  margin-top: 24px;
  letter-spacing: 0;
}

/* aリンクの体裁 (indexページにも流用)*/
.thema-ticket-info .chuushi a {
  color: #d468d4;
  font-weight: 500;
  border-bottom: 2px solid;
  padding-bottom: 2px;
}



/* レスポンシブ ------------*/

@media (min-width: 580px) {
  .text-lead-info {
    margin-top: 24px; /*リード上アキ　レスポンシブ変更*/
  }

  .thema-ticket-info .l-code {
    display: flex;
    flex-direction: row;
  }

  .thema-ticket-info .l-code dd {
    width: 40%;
  }
  .thema-ticket-info .l-code dt {
    width: 60%;
  }
}

/* レスポンシブ ------------*/

@media (min-width: 960px) {
  .text-lead-info {
    margin-top: 0px; /*リード上アキ　レスポンシブ変更*/
  }
}

/*--------------------------------------------
ticket ＞ クッション
--------------------------------------------*/

/*クッション販売*/

.cusion {
  border-top: 30px;
}

.cusion img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.cusion-text {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  margin-top: 0;
}

.cusion-text p {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  border-radius: 30px;
  padding: 1px 24px;
  display: inline-block;
  margin-top: 16px;
  text-align: center;
}

.cusion-price {
  font-size: 1.75rem;
}

.cusion-kifu {
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  margin-top: 20px;
}

.cusion-kifu span {
  color: #ffff66;
}

/*画像変形*/
.cusion-link img {
  width: 80%;
  border-radius: 37% 63% 37% 63% / 71% 38% 62% 29%;
  border: 2px solid #ffff66;
  ; 
}

/* レスポンシブ ------------*/

@media (min-width: 520px){
  .cusion img {
    width: 400px;
  }
  .cusion-text {
    padding-left: 70px;
    padding-right: 70px;
  }
}


@media (min-width: 960px){

  .cusion {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .cusion-link {
    width: 50%;
  }

  .cusion img {
    width: 100%;
  }

  .cusion-text {
    width: 45%;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px; /*レスポンシブで変更*/
  }

  .cusion-text p {
    padding: 1px 20px 8px;
  }

}


/*--------------------------------------------
spot
--------------------------------------------*/

/*文字指定*/
.spot-text .spot-no {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 24px;
  background-color: #79a7b8;
  color: #ffffff;
  border-radius: 50%;
  font-size: 0.875rem;
  font-family: 'Montserrat';
  font-weight: 500;
  padding-top: 14px;
  margin-top: 24px;
  margin-bottom: 20px;
}

.spot-text .spot-no span {
  font-family: 'Lobster';
  font-size: 2rem;
  color: #000000;
}

.spot-text h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #74d3f7;
  margin-top: 0px;
  margin-bottom: 24px;  
}

.spot-text h4 span {
  font-size: 0.75rem;
  font-weight: 300;
  color: #ffffff;
}

.spot-text .text {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.8;
  text-align: justify;
}


/*レイアウト指定*/
.spot-box {
  display:flex;
  flex-direction: column;
  margin-bottom: 150px;
  width: 100%;
  align-items: center;
}

.spot-box:first-of-type {
  margin-top: 50px;
}

/*画像変形*/
.spot-pict img {
  border-radius: 37% 63% 37% 63% / 71% 38% 62% 29%;
  border: 2px solid #79a7b8;
  ; 
}


/*レスポンシブ-----------------------*/


@media (min-width: 520px) {

  .spot-pict {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .spot-text {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (min-width: 960px) {
  .spot-box {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;  
  }

  /*偶数を指定　交互にする*/
  .spot-box:nth-child(even) { 
    flex-direction: row-reverse;
  }

  .spot-pict {
    width: 45%;
  }
  .spot-text {
    width: 45%;
  }

  .spot-text .spot-no {
    margin-top: 0px;
  }
}

/*--------------------------------------------
footer
--------------------------------------------*/

/* フッターコンテナ */


.page-footer {
  background: url(../img/footer_image.svg) ;
  background-size:cover ;
  height: 300px;
}

.footer-container {
  padding: 0 10% 0 10%;
}

.footer-info {
  padding-top: 70px;
}

.footer-logo img {
  width: 200px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.footer-text {
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0;
  padding-left: 60px;
}

.copyright {
  font-size: 0.625rem;
  letter-spacing: 0;
  text-align: center;
  color: #000000;
  padding-top: 20px;
}



/*レスポンシブ-----------------------*/

@media (min-width: 580px) {
  .copyright {
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
    padding-bottom: 20px;
  }

  .footer-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .footer-info {
    display: flex;
    align-items: center;
    padding-top: 100px;
  }

  .footer-logo img {
    width: 200px;
  }

  .footer-logo {
    width: 50%;
    padding:0;
  }
  .footer-text {
    width: 50%;
    margin: 0;
    padding-left:20px;
    font-size: 1rem;
    border-left: 1px solid #ffffff;
  }
}

@media (min-width: 700px) {
  .footer-logo img {
    width: 250px;
  }
}




/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
position: fixed;
width: 100%;
height: 100%;
z-index: 999;
background:#333;
text-align:center;
color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
width:200px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
from {
  opacity: 0;
transform: translateY(100px);
}

to {
  opacity: 1;
transform: translateY(0);
}
}



/*========= ローディング =======================*/
/*========= LoadingのためのCSS ==========*/

/* Loading背景画面設定　*/
#splash {
    /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background:#333;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
	width:200px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}
/*========= レイアウトのためのCSS ==========*/

#container{
    width:100%;
    height: 100vh;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    color: #333;
}

a:hover{
     text-decoration: none;   
}


/*========= ページ先頭にスムースクロール ==========*/
#page-top {
  text-align: center;
  margin-bottom: 60px;
}

#page-top a img{
  display: inline-block;
  width: 70px;
  height: 70px;
}
